<li id="post-<%=post._id%>">
    <p>
        <!-- if the user is authenticated and authorized to delete the post only then it shows -->
        <!-- if the user is looged in and the user who is looged in and the user who posts the post both are same then only show delete botton -->
        <% if((locals.user)&& (locals.user.id==post.user.id)){%>
        <small>
            <a class="delete-post-button" href="/posts/destroy/<%=post.id%>">Delete</a>
        </small>
        <% }%>
    <%= post.content %><br>
    <small><%= post.user.name %></small>
    </p>
    <diV class="post-comments">
        <% if(locals.user){%>
            <form action="/comments/create" method="post">
               <input type="text" name="content" placeholder="Type Here To add Comments" required>
               <input type="hidden" name="post" value="<%= post._id%>">
               <input type="submit" value="Add comment">
            </form>
            <% }%>
            <div class="post-comments-list">
                <ul id="post-comments-<%=post._id%>">
                    <%for(comment of post.comments){ %>
                      <%-include('_comment')-%>
                   <% } %>
                </ul>
            </div>
            
    </diV>
</li>